* {
margin: 0;
padding: 0;
}
.container {
max-width: 1140px;
margin: 0 auto;
display: flex;
flex-direction: column;
height: 100%;
}
body{
	font-family: sans-serif;
	background-color: #f2cf07;
background-image: linear-gradient(315deg, #f2cf07 0%, #55d284 74%);
}

h1{
	width: 510px;
}
h1 + p{
	width: 425px;
}
p{
	font-size: 16px;
	line-height: 26px;
	color: #1F3F68;
}
li > a > img{
	height:50px;
	width:50px;
}
.header{
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	padding-top: 42px;
}
.card-box{
	display: flex;
	justify-content: space-between;
	padding-top: 64px;
	padding-bottom: 64px;
}
.content > h3{
	width:340px;
}
.list{
	width: 100%;
	display: flex;
	
}

.top{
	min-height: 768px;
	padding-bottom: 41px;
	box-sizing: border-box;
}
.card{
	width:359px;
	padding: 44px 32px;
	box-sizing: border-box;
	box-shadow: 5px 20px 50px rgba(16,112,177,0.2);
	border-radius: 10px;
	background-color:white;
	display: flex;
	flex-direction: column;
}
.card_img{
	align-self: center;
	margin-bottom: 51px;
}
.top_info{
	padding-top: 115px;
	flex-grow: 1;
	background-image: url();
	background-repeat: no-repeat;
	background-position: right-center;
	background-size: 44%;
}
.text{
	font-size: 16px;
	line-height: 26px;
	opacity:0.6;
	letter-spacing: 0.05em;
}
.text_project{
	width: 75%;
	margin: 32px auto 64px;
	color: black;
	opacity: 1;
	text-align: center
}
.card_link{
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 0.05em;
}
.heading-mini{
font-size: 20px;
line-height: 30px;
letter-spacing: 0.05em;
margin-bottom: 14px;
}
.top_box{
	display: flex;
	flex-direction: column;
	height: 100%;
}
.heading{
	font-size: 36px;
	text-align: center;
	font-weight: 300;
	line-height: 46px;
}
.what-we-do{
	padding-top: 64px;
}
.top_button{
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.04em;
	color:white;
	background-color: #5A98D0;
	box-shadow: 50px 10px 20px rgba(53, 110, 173, 0.2);
	border-radius:10px;
	padding:15px 50px;
	text-decoration: none;
	display: inline-block;
	margin-top:71px;
}
.top_heading{
	 font-size: 64px;
	 color: #1F3F68;
	 font-weight: 300;
	 line-height: 74px;
	 letter-spacing: 0.4em;
	 width: 510px;
}
.top_text{
	width:425px;
}
.iwoekinfo{
	width:495px;
  
}

.footer{
	background-color:#55d284;

}
.project_img{
	width:100%;
}
.project_parent{
	display: flex;
	justify-content: space-between;
	margin-top: 32px;
}
.project_text{
	font-size: 32px;
	line-height: 46px;
	text-align: right;
	letter-spacing:0.05em;
	color:white;
	position: absolute;
	top: 64px;
	right: 64px;
}
.project_item{
	position: relative;
	flex-grow:1;
}
.project_item_margin{
	margin-right:32px;
}
.iwoekinfo > h4{
	width: 340px;
}
.contact{
	font-weight: 500;
	font-size: 44px;
	text-align: center;
}
.contactblock{
	background-image: url("images/bg.png");
	
	background-repeat: no-repeat;
}
.heading3{
	 font-size: 36px;
	 text-align: center;
	 color:white;
	line-height: 46px;
	letter-spacing: 0.05em;
}
.level4{
	font-size: 20px;
	line-height: 30px;
	color: #1F3F68;
}
.inp{
	 border: 1px solid #356EAD;
	 box-sizing: border-box;
	 border-radius: 10px;
	 opacity: 0.4;
}
.subm{
	background: #5A98D0;
	box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
	border-radius: 10px;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: #FFFFFF;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom:5px;
}

.textar{
	margin-top:15px;
	height:80px;
}
a{
	font-size: 25px;
}
.sendform > form > input{
	display: block;
}
.info{
	position:relative;
	display: flex;
	justify-content: space-around;
}
.map{
	display: flex;
	justify-content: center;
}
.form{
	width:350px;
	box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
border-radius: 10px;
padding:10px;
}
.content > ul{
	display: flex;
}
.content > ul > li{
	justify-content: space-around;
	margin-right: 200px;
}
.bottom_button{
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.04em;
	color:white;
	background-color: #5A98D0;
	box-shadow: 50px 10px 20px rgba(53, 110, 173, 0.2);
	border-radius:10px;
	padding:15px 50px;
	text-decoration: none;
	display: inline-block;
	margin-top:71px;
	margin-bottom: 10px;
}


@media(max-width: 1024px){
	.container{
		padding-left: 32px;
		padding-right: 32px;
	}
	.top_info{
		background-position: right 280px;
	}
	.card-box{
		flex-direction: column;
		align-items: center;
	}
	.card{
		margin-bottom: 32px;
	}
}

@media(max-width: 667px){
	.header{
		padding-top: 24px;
	}
	.top{
		min-height: 376px;
	}
	.top_info{
		padding-top: 36px;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-image: none;
	}
	.top_heading{
		width: 100%;
		font-size: 32px;
		line-height: 37px;
		margin-bottom: 12px;
	}
	.top_text{
		width: 100%;
		text-align: center;
	}
	.top_button{
		font-size: 12px;
		line-height: 26px;
		padding: 4px 8px;
	}
	.heading{
		font-size:24px;
		line-height: 28px;
	}
	.what-we-do{
		padding-top: 48px;
	}
	.card-box{
		padding-top: 32px;
	}
	.card{
		width: 100%;
	}
	.text_project{
		width: 100%;
	}
	.project_text{
		font-size: 16px;
		line-height: 19px;
		top: 16px;
		right: 16px;
	}
	.project__text_mini{
		left: 16px;
	}
	.project_parent{
		flex-direction: column;
		margin-top: 16px;
	}
	.project__item_margin{
		margin-right: 0;
		margin-bottom: 16px;

	}
}